input{
    height: 35px;
    width: 200px;
}
.btn{
    padding: 8px 30px;
    background-color: red;
    margin: 0 -5px;
    border: none;
    color: #fff;
}
.btn:hover{
    padding: 8px 30px;
    background-color: rgb(245, 206, 12);
    margin: 0 -5px;
    border: none;
    color: #fff;
}
.size{
    font-size: 20px;
}
ul{
    list-style: none;
}